body {
    background-image: url('../img/background.JPG');
    background-size: cover;
}

.container {
    background-color: rgba(255, 255, 255, 0.7);
    margin: 30px auto 30px auto;
    padding: 30px 30px 30px 30px;
}

.filters {
    text-align: center;
}

#sort {
    display: inline-block;
}

tbody {
    font-size: 15px;
}

body {
    width: 100%;
}

h1 {
    text-align: center;
    padding: 0 0 20px 0;
}

h6 {
    text-align: center;
    padding: 0 0 20px 0;
}

a, a:hover, a:visited {
    color: black;
}

#name {
    width: 20%;
}

#length {
    width: 13%;
}

#summary {
    width: 40%;
}

tr {
    height: 65px;
}

td {
    padding: 10px 10px 10px 10px;
}

th {
    text-align: center;
    background-color: rgba(150, 150, 150, 0.7);
}

td, th {
    border: 1px solid rgba(150, 150, 150, 0.7);
} 

tr:nth-child(even) {
    background-color: rgba(150, 150, 150, 0.7);
}

tr:nth-child(odd) {
    background-color: rgba(215, 215, 215, 0.7);

}

.dropdown, select {
    display: inline-block;
}

select {
    margin: 0 35px 20px 0;
}

p {
    margin: 0 10px 20px 0;
}

#zip {
    text-align: center;
    font-weight: bold;

}

#enter-zip {
    display: none;

}

#zip-div {
    text-align: center;
    margin: 0 10px 20px 0;

}

#search {
    display: none;
    text-decoration: none;
    border: 1px solid black;
    margin: 0 20px 0 0;
    padding: 3px 10px 5px 10px;
    font-size: 0.8em;
    font-weight: bold;
}

#search:hover {
    background-color: rgba(150, 150, 150, 0.7);
}

#cancel {
    display: none;
    padding: 0 0 0 15px;
    font-size: 0.8em;
    color: red;
}

#scroll-table {
    height: 60vh;
    overflow: auto;
}

#scroll-table::-webkit-scrollbar {
    height: 4px;
    width: 10px;
  }
  
  /* Track */
#scroll-table::-webkit-scrollbar-track {
    background: #f1f1f1; 
  }
   
  /* Handle */
#scroll-table::-webkit-scrollbar-thumb {
    background: #888; 
  }
  
  /* Handle on hover */
#scroll-table::-webkit-scrollbar-thumb:hover {
    background: #555; 
  }

@media screen and (max-width: 768px) {
    #sort {
        display: block;
    }
}